.music-container {
    position: fixed;
    z-index: 5;
    top: 90%;
    left: 160px;
    transition: left 0.5s ease;
}

.muscicover-container {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    margin: 0;
    user-select: none;
    transition: margin 0.4s ease-in-out;
}

.muscicover-container img {
    width: 400px;
    height: auto;
    left: 0;
    position: relative;
    margin-right: -270px;
    transform-origin: right;
    transition: transform 0.5s ease, left 0.5s ease;
    transform: skewY(15deg);
    box-shadow: 20px 10px 20px rgba(0,0,0,1);
    border-radius: 7px;
    margin-left: 0;
}

.muscicover-container.active {
    cursor: grabbing;
    left: 0;
}

.muscicover-container img:hover {
    transform: skewY(15deg) translateY(-100px);
    cursor: pointer;
}

.muscicover-container img.clicked {
    transform: skewY(15deg) translateY(-370px);
    left: 0;
}

.muscicover-container img:nth-child(1) {
    z-index: 20;
}

.muscicover-container img:nth-child(2) {
    z-index: 19;
}

.muscicover-container img:nth-child(3) {
    z-index: 18;
}

.muscicover-container img:nth-child(4) {
    z-index: 17;
}

.muscicover-container img:nth-child(5) {
    z-index: 16;
}

.muscicover-container img:nth-child(6) {
    z-index: 15;
}

.muscicover-container img:nth-child(7) {
    z-index: 14;
}

.muscicover-container img:nth-child(8) {
    z-index: 13;
}

.muscicover-container img:nth-child(9) {
    z-index: 12;
}

.muscicover-container img:nth-child(10) {
    z-index: 11;
}

.muscicover-container img:nth-child(11) {
    z-index: 10;
}

.muscicover-container img:nth-child(12) {
    z-index: 9;
}

.muscicover-container img:nth-child(13) {
    z-index: 8;
}

.musiccover {
    position: fixed;
    top: 150px;
    left: 170px;
    color: white;
    font-size: 100px;
    font-weight: 900;
    z-index: 21;
    opacity: 1;
    transition: opacity 0.2s ease, left 0.5s ease;
}
